.quizz-pages-container{
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.quizz-box{
  min-width: 275px;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #ff6b00;
  border-radius: 12px;
  -webkit-box-shadow: 0px 11px 3px -7px grey;
  -moz-box-shadow: 0px 11px 3px -7px grey;
  box-shadow: 0px 11px 3px -7px grey;
  color: black;
  position: relative;
  height: auto;
  margin: 150px auto 150px ;
}

.quizz-btn{
  border: 1px solid #ff6b00;
  background-color: white;
  color: #ff6b00;
}
.quizz-btn:hover{
  transition: background-color 0.5s ease;
  background-color: #ff6b00;
  color: white;
}


.page-1{
  text-align: center;
}


.page-2{
  position: relative;
  height: 145px;
}
.nickname-input{
  width: 100%;
  border: 1px solid #ff6b00;
  border-radius: 15px;
  margin: 10px 0;
  outline: none;
  padding: 5px;
  color: #ff6b00;
}
.nickname-input:focus{
  -webkit-box-shadow: 0px 0px 5px 1px #ff6b00;
  -moz-box-shadow: 0px 0px 5px 1px #ff6b00;
  box-shadow: 0px 0px 5px 1px #ff6b00;
}

.proceed-btn{
  position: absolute;
  bottom: 4px;
  right:4px;
}
.preceed-btn{
  position: absolute;
  bottom: 3px;
  left:3px;
}

/*page 3*/
.page-3{
  height: auto;
  position: relative;
}
.avatar-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 48px;
}
.avatar{
  width:70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.avatar:hover{
  border: 1px solid #ff6b00;
  -webkit-box-shadow: 0px 0px 5px 1px #ff6b00;
  -moz-box-shadow: 0px 0px 5px 1px #ff6b00;
  box-shadow: 0px 0px 5px 1px #ff6b00;
}
.selected{
  border: 1px solid #ff6b00;
  -webkit-box-shadow: 0px 0px 5px 1px #ff6b00;
  -moz-box-shadow: 0px 0px 5px 1px #ff6b00;
  box-shadow: 0px 0px 5px 1px #ff6b00;
}

/*page 4*/
.page-4{
  position: relative;
}
.carousel-item{
  flex-direction: column;
}
.carousel-indicators {
  bottom: -40px;
  height: 8px;
}
.carousel-indicators li{
  background-color: orange;
}
.carousel-indicators li.active{
  background-color: orangered;
}

.carousel-control-prev-icon i{
  color: orange;
}
.carousel-control-next-icon i{
  color: orange;
}
.view-story-btn{
  background-color: orange;
  border: orange;
  cursor: pointer;
}
.select-pet-btn{
  background-color: #ff6b00;
  border: #ff6b00;
  cursor: pointer;
}



.modal-body{
  min-width: 300px;
  max-height: 400px;
  overflow-y: auto;
}
.modal-backdrop{
  z-index: -1;
}


.page-number{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}






@media screen and (min-width: 768px) {
  .pet-img{
    width: 250px!important;
    height: 250px !important;
  }

}
