<div class="quizz-pages-container">
<div class="quizz-box">

  <div class="page-1" *ngIf="page==='page1'">
    <h4 class="mb-5 ">Hi there, now you know the secret which means that you are about to embrace
      into a journey with one of AliCreas who's waiting to see their destined master.
      It's going to an adventurous journey. Are you ready?
    </h4>
    <button class="btn proceed-btn quizz-btn " (click)="onProceed('page2')"> Next</button>
  </div>
<div class="page-2" *ngIf="page==='page2'">
<h5>How would you like to call yourself?</h5>
<input class="nickname-input" name="nickname" [(ngModel)]="ownerNickname"/>
<span class="page-number"> Page 2/4</span>
<button class="btn preceed-btn quizz-btn" (click)="onPreceed('page1')" > Back</button>
<button class="btn proceed-btn quizz-btn "(click)="onProceed('page3')" [disabled]="!ownerNickname || ownerNickname.length ===0"> Next</button>
</div>

<div class="page-3" *ngIf="page==='page3'">
<h5>Choose your favorite avatar</h5>
<div class="avatar-container">
<img class="avatar" src="../../../assets/avatar/batman.jpg" (click)="chooseAvatar(0)" />
<!--<img class="avatar" src="../../../assets/avatar/santa-clause-face.png"/>-->
<img class="avatar" src="../../../assets/avatar/priate-girl.png" (click)="chooseAvatar(1)"/>
<img class="avatar" src="../../../assets/avatar/cute-girl.png" (click)="chooseAvatar(2)"/>
<img class="avatar" src="../../../assets/avatar/poop.png" (click)="chooseAvatar(3)"/>
<!--<img class="avatar" src="../../../assets/avatar/serious.jpg" (click)="chooseAvatar(4)"/>-->
<img class="avatar" src="../../../assets/avatar/images.png" (click)="chooseAvatar(4)"/>
</div>
<span class="page-number"> Page 3/4</span>
<button class="btn preceed-btn quizz-btn" (click)="onPreceed('page2')" > Back</button>
<button class="btn proceed-btn quizz-btn "(click)="onProceed('page4')" [disabled]="!ownerAvatar"> Next</button>
</div>

<div class="page-4" *ngIf="page==='page4'">
<h6 class="text-center">Alright! Currently there are 3 AliCreas who are waiting for you. Click on 'View Story' to
  understand more about the AliCrea. Tap on it and click 'Connect' to choose. Make your decision with care!</h6>
<div class="pet-container">

<div class="pet">
<img class="pet-pic" src="../../../assets/pet/Nios.png" (click)="choosePet(0)" />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pet0">
View Story
</button>

<!-- Modal -->
<div class="modal fade" id="pet0" tabindex="-1" role="dialog" aria-labelledby="pet0Label" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="pet0Label">Nios - The Nerdy Alien</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body"  style="text-align: justify">
  <strong>Background –</strong>
  Before the Invasion, Nios were always viewed by other creatures in their universe as royalty. They give off such strong aura that whenever they are in presence of other creatures, they are showered with respect and hospitality.
  <strong>Personality –</strong>
  Nios as a species are creatures that are kind and friendly creatures that are willing to help anyone in need. Their acts of kindness are often mistake by other creatures as a blessing because of the royalty image that Nios as a species have. This results in Nios being shy and having trouble in communicating as most creatures shower them with love, respect and hospitality as if they are worshipping a Godly Species.
  <strong>Short Summary –</strong>
  Kind and friendly creatures that are extremely shy and have trouble communicating.
  <strong>In-game ability – </strong>
  Plus-One = Players gain an extra life in quiz games
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>


<div class="pet" (click)="choosePet(1)">
<img class="pet-pic" src="../../../assets/pet/Nera.png" />

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pet1">
View Story
</button>

<!-- Modal -->
<div class="modal fade" id="pet1" tabindex="-1" role="dialog" aria-labelledby="pet1Label" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="pet1Label">Nera - The Fluffy Warrior</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body"  style="text-align: justify">
  <strong>Background –</strong>
  Nera are a species that move around in a pack, there is usually a pack leader that leads the way. During the invasion, most Neras were separated from their pack and were forced to take lead on their own resulting in each and every Nera to develop their own leadership skills.
  <strong>Personality –</strong>
  Nera are a species that have high levels of loyalty once a bond is formed with them. They will put the ones they love ahead of themselves. Neras are active and outspoken, they like to move around and because of the appearance of their earlier stages in life, they are adorable creatures that are adored by many of the species in their universe.
  <strong>Short summary -</strong>
  Neras are adorable active and outspoken creatures that have high levels of loyalty once a bond is formed with them.
  <strong>In-game ability – </strong>
  Sneak and Peek = For one time in the quiz, players can take a peek at the correct answer for the question they received in the quiz.
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>


    <div class="pet" (click)="choosePet(2)">
      <img class="pet-pic" src="../../../assets/pet/Eyos.png" />
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pet2">
        View Story
      </button>
<!-- Modal -->
      <div class="modal fade" id="pet2" tabindex="-1" role="dialog" aria-labelledby="pet2Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pet2Label">Eyos - The Adventurers</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="text-align: justify">
              <strong>Background– </strong>
              Eyos are species that wandered around many different places of their universe. Originally from the East End of their Universe, Eyos eventually migrated to the South End. Many Places in the South End are undiscovered or have never been visited by other species. This attracts the species of Eyos as they as a species enjoy learning and adventuring.
              <strong> Personality- </strong>
              Eyos are enthusiastic creatives who love to explore and learn. These personality traits led them to gaining the reputation as one of the smartest species in their universe. Often labelled as crazy by other creatures due to their drive to learn something new at all cost. They will not hesitate to pin point someone’s mistake and are fully aware that their species are an intelligent species.
              <strong>Short Summary- </strong>
              <strong>In-game ability – </strong>
              Time Addition = Players gain additional time to do their quizzes
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="page-number"> The End</span>
  <button class="btn preceed-btn quizz-btn" (click)="onPreceed('page3')" > Back</button>
  <button class="btn proceed-btn quizz-btn "(click)="onProceed('done')" [disabled]="ownerPet.name === ''"> Connect </button>
</div>

<!--<div class="row text-center" style="width: 100%">-->
<!--<h2>Let's find your destiny fantasty monster!</h2>-->
<!--<h3  style="margin: auto"> What is your favorite color?</h3>-->
<!--<div class="row justify-content-center mt-5" style="margin: auto; width: 100%">-->
<!--<button class="btn btn-primary col-sm-5 m-1"  (click)="chooseDark()">I Love Cuteness</button>-->
<!--<button class="btn btn-primary  col-sm-5 m-1" (click)="chooseFire()">I Love Toughness</button>-->
<!--</div>-->
<!--</div>-->
</div>
</div>
