<div class="quizz-pages-container">
  <div class="quizz-box" *ngIf=" page == 'welcome' || page == 'userName' || page == 'avatar'">

    <div class="page-1" *ngIf=" page==='welcome'">
      <h1 class="primary-text">Welcome!</h1>
      <p class="mb-2">
        Hi there, now you know the secret which means that you are about to embrace
        into a journey with one of AliCreas who's waiting to see their destined master.
        It's going to an adventurous journey. Are you ready?
      </p>
      <button class="btn proceed-btn primary-btn" (click)="onProceed('userName')"> Next</button>
    </div>


    <div class="page-2" *ngIf="page=== 'userName'">
      <h5 class="primary-text">How would you like to call yourself?</h5>
      <input class="nickname-input " name="nickname" [(ngModel)]="ownerNickname"/>
      <div class="d-flex justify-content-center justify-content-between">
        <button class="btn preceed-btn secondary-btn" (click)="onPreceed('welcome')" > Back</button>
        <div class="page-number pt-2">
         <p>Page 2/4</p>
        </div>
        <button class="btn proceed-btn primary-btn" (click)="onProceed('avatar')" [disabled]="!ownerNickname || ownerNickname.length ===0"> Next</button>
      </div>

    </div>

    <!--Page 3 - Avatar selection-->
    <div class="page-3" *ngIf="page=== 'avatar' " >
      <h5 class="primary-text">Choose your favorite avatar</h5>
      <div class="avatar-container">
        <img class="avatar" src="../../../assets/avatar/batman.jpg" (click)="chooseAvatar(0)" />
        <img class="avatar" src="../../../assets/avatar/priate-girl.png" (click)="chooseAvatar(1)"/>
        <img class="avatar" src="../../../assets/avatar/cute-girl.png" (click)="chooseAvatar(2)"/>
        <img class="avatar" src="../../../assets/avatar/poop.png" (click)="chooseAvatar(3)"/>
        <img class="avatar" src="../../../assets/avatar/images.png" (click)="chooseAvatar(4)"/>
      </div>
      <div class="d-flex justify-content-center justify-content-between">
        <button class="btn preceed-btn secondary-btn" (click)="onPreceed('userName')" > Back</button>
        <div class="page-number pt-2">
          <p>Page 3/4</p>
        </div>
        <button class="btn proceed-btn primary-btn" (click)="onProceed('petSelection')" [disabled]="!ownerAvatar"> Next</button>
      </div>

    </div>

  </div>

  <!--Page 4 - Pet Selection-->
  <div class="page-4 mt-4"  *ngIf="page==='petSelection' ">
    <div class="pet-selection-heading container mb-4">
      <h2 class="primary-text">Adoption</h2>
      <p class="w-75 mx-auto">
        Alright! Currently there are 3 AliCreas who are waiting for you. Click on 'View Story' to
      understand more about the AliCrea. Tap on it and click 'Connect' to choose. Make your decision with care!</p>
    </div>

    <!--SLIDES-->
    <div id="carouselExampleIndicators" class="carousel slide my-auto" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <!--First slide-->
        <div class="carousel-item active">
          <img class="pet-img d-block w-50 h-25 mx-auto" src="../../../assets/pet/Nios.png" alt="First slide">
          <div class="pet-description mb-3">
            <h5 class="primary-text">Nios</h5>
            <p>The Nerdy Alien</p>
            <button type="button" class="btn view-story-btn mr-2" data-toggle="modal" data-target="#pet0">
            View Story
            </button>
            <button type="button" class="btn primary-btn" (click)="choosePet(0)" >
              Adopt
            </button>
          </div>
        </div>
        <!--Second slide-->
        <div class="carousel-item">
          <img class="pet-img d-block w-50 h-25 mx-auto" src="../../../assets/pet/Nera.png" alt="Second slide">
            <div class="pet-description mb-3">
              <h5 class="primary-text">Nera</h5>
              <p>The Fluffy Warrior</p>
              <button type="button" class="btn view-story-btn mr-2" data-toggle="modal" data-target="#pet1">
                View Story
              </button>
              <button type="button" class="btn primary-btn " (click)="choosePet(1)" >
                Adopt
              </button>
            </div>
          </div>

      <!--Third Slide-->
        <div class="carousel-item">
          <img class="pet-img d-block w-50 h-25 mx-auto" src="../../../assets/pet/Eyos.png" alt="Third slide">

          <div class="pet-description mb-3">
            <h5 class="primary-text">Eyos</h5>
            <p>The Adventurer</p>
            <button type="button" class="btn view-story-btn mr-2" data-toggle="modal" data-target="#pet2">
              View Story
            </button>
            <button type="button" class="btn primary-btn " (click)="choosePet(2)" >
              Adopt
            </button>
          </div>

        </div>
      </div>
      <a class="carousel-control-prev"  href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" style="color: black" aria-hidden="true">
          <i class="fas fa-angle-left fa-3x "></i>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" style="color: black" aria-hidden="true">
          <i class="fas fa-angle-right fa-3x"></i>
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Modal Pet 0 -->
    <div  class="modal fade" id="pet0" tabindex="-1" role="dialog" aria-labelledby="pet0Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title primary-text" id="pet0Label">Nios - The Nerdy Alien</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"  style="text-align: justify">
            <strong class="secondary-text">Background –</strong>
            <p>Before the Invasion, Nios were always viewed by other creatures in their universe as royalty.
              They give off such strong aura that whenever they are in presence of other creatures,
              they are showered with respect and hospitality.</p>
            <strong class="secondary-text">Personality –</strong>
            <p>Nios as a species are creatures that are kind and friendly creatures that are willing to help
              anyone in need. Their acts of kindness are often mistake by other creatures as a blessing
              because of the royalty image that Nios as a species have. This results in Nios being shy and
              having trouble in communicating as most creatures shower them with love, respect and hospitality
              as if they are worshipping a Godly Species.</p>
            <strong class="secondary-text">Short Summary –</strong>
            <p>Kind and friendly creatures that are extremely shy and have trouble communicating.</p>
            <strong class="secondary-text">In-game ability – </strong>
            <p>Plus-One = Players gain an extra life in quiz games</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn secondary-btn " data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Pet 1-->
    <div class="modal fade" id="pet1" tabindex="-1" role="dialog" aria-labelledby="pet1Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title primary-text" id="pet1Label">Nera - The Fluffy Warrior</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          </div>
        <div class="modal-body"  style="text-align: justify">
          <strong class="secondary-text">Background –</strong>
          <p>Nera are a species that move around in a pack, there is usually a pack leader that leads the way.
            During the invasion, most Neras were separated from their pack and were forced to take lead on
            their own resulting in each and every Nera to develop their own leadership skills.</p>
          <strong class="secondary-text">Personality –</strong>
          <p>Nera are a species that have high levels of loyalty once a bond is formed with them.
            They will put the ones they love ahead of themselves. Neras are active and outspoken, they
            like to move around and because of the appearance of their earlier stages in life, they are
            adorable creatures that are adored by many of the species in their universe.</p>
          <strong class="secondary-text">Short summary -</strong>
          <p>Neras are adorable active and outspoken creatures that have high levels of loyalty once a bond
            is formed with them.</p>
          <strong class="secondary-text">In-game ability – </strong>
          <p>Sneak and Peek = For one time in the quiz, players can take a peek at the correct answer for the
            question they received in the quiz.</p>
          </div>
        <div class="modal-footer">
         <button type="button" class="btn secondary-btn" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>
    </div>

     <!--Modal Pet 2-->
    <div class="modal fade" id="pet2" tabindex="-1" role="dialog" aria-labelledby="pet2Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="primary-text modal-title" id="pet2Label">Eyos - The Adventurers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body" style="text-align: justify">
          <strong class="secondary-text">Background– </strong>
          <p>Eyos are species that wandered around many different places of their universe.
            Originally from the East End of their Universe, Eyos eventually migrated to the South End.
            Many Places in the South End are undiscovered or have never been visited by other species.
            This attracts the species of Eyos as they as a species enjoy learning and adventuring.</p>
          <strong class="secondary-text"> Personality- </strong>
          <p>Eyos are enthusiastic creatives who love to explore and learn. These personality traits led them to
            gaining the reputation as one of the smartest species in their universe.
            Often labelled as crazy by other creatures due to their drive to learn something new at all cost.
            They will not hesitate to pin point someone’s mistake and are fully aware that their species are an
            intelligent species.</p>
          <strong class="secondary-text">Short Summary- </strong>
          <strong class="secondary-text">In-game ability – </strong>
          <p>Time Addition = Players gain additional time to do their quizzes</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn secondary-btn" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>
    </div>

    <button style="z-index: 1000" class="btn preceed-btn secondary-btn float-left mt-5" (click)="onPreceed('avatar')" > Back</button>

  </div>

  <!--Page Pet Selection - set up pet name-->
  <div class="page-5 mt-5 p-3"  *ngIf="page==='petName'">
    <div class="petchoose-wrapper text-center mt-5 container-fluid" *ngIf = "pet; else searchingTempl">

        <div class="pet-pic" >
          <img class="img-fluid " style="width: 100%" src="{{pet.curPic}}" />
        </div>
        <div class="row">
          <a class="mx-auto">
            <h6 class=" text-center" style="font-family: VT323; font-size: 1.3rem">
              Here he is!  His name is {{pet.name}}. If you want to change it. Type it in the box below and press 'Continue'.
            </h6>
            <input class="petname-input w-50" name="petname" [(ngModel)]="petName"/>
            <button class="mt-3 mx-auto btn btn-block primary-btn w-50" (click)="onProceed('communityAccess')" [disabled]="!petName">
              Continue
            </button>

          </a>
        </div>


      <ng-template #searchingTempl> Searching for him...</ng-template>
    </div>
  </div>

  <div class="page-6 mt-5"  *ngIf="page==='communityAccess'">
    <h1 style="font-family: Orbitron"> Join The Pack!!!</h1>
    <p class="info-text" style="font-family: VT323; font-size: 1.5rem; width: 300px; margin: auto">
      {{owner.nickName}}, you now are one of us.
      Click <a href="https://www.facebook.com/groups/158649758099381/?ref=bookmarks" target="_blank">here</a> to join us!!
    </p>
    <button class="btn-block btn primary-btn mt-3" style="width: 300px; margin: auto"  (click)="onProceed('infoAnnouncement')" >Continue</button>
  </div>

  <div class="mt-5" *ngIf="page==='infoAnnouncement'">
    <h1 style="font-family: Orbitron" class="primary-text"> Adoption Completed</h1>
    <p class="info-text" style="font-family: VT323; font-size: 1.5rem; width: 300px; margin: auto">{{pet.name}} now officially
      become your pet. His destiny as well as AliCrea's destiny are now in your hands.
      Raise him and train him to get ready for the battle with the Conquerors.
    </p>

    <h2 style="font-family: Orbitron" class="primary-text mt-4">Instruction video</h2>
    <iframe
      width="760"
      height="415"
      src="https://www.youtube.com/embed/RFWm_n-6Vs4?controls=0&autoplay=1"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
    <button class="btn-block btn primary-btn mt-3" style="width: 300px; margin: auto" (click)="onProceed('done')" >Let's start</button>
  </div>



</div>
