<div class="navigation-container row justify-content-center ">
  <div class="nav-bar ">
      <div class="nav-item  "
           [routerLink]="['petinfo']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"><div class="nav-text"><i class="fa fa-paw" aria-hidden="true"></i></div>
      </div>
      <div class="nav-item  "
           [routerLink]="['stomach']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"><div class="nav-text"><img src="https://png.icons8.com/metro/540/stomach.png" height="30px" width="30px"> </div>
      </div>
    <div class="nav-item "
         [routerLink]="['adventure']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"><div class="nav-text"><i class="fa fa-gamepad" aria-hidden="true"></i></div>
    </div>
    <div class="nav-item  "
         [routerLink]="['community']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"><div class="nav-text"><i class="fa fa-users" aria-hidden="true"></i></div>
    </div>

    </div>
</div>


