/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=VT323');
html{
  height: 100%;
}
body{
  overflow-x: hidden;
  padding: 0  !important;   /*prevent default behavior of bootstrap modal*/
  height: 100%;
}
.primary-text{
  color:  #ff6b00;
  font-family: Orbitron, "Helvetica Neue";
  font-weight: bold;
}
.primary-color{
  color:  #ff6b00;
}

.secondary-text{
  color: orange;
  font-family: Orbitron, cursive;
}
.secondary-color{
  color: orange;
}

/*Buttons*/
.primary-btn{
  border: 1px solid #ff6b00;
  background-color: #ff6b00;
  color: white;
  cursor: pointer;
}
.primary-btn:hover{
  transition: background-color 0.5s ease;
  background-color: black;
  color: #ff6b00;
  border-color: #ff6b00;
}

.secondary-btn{
  border: 1px solid #ff6b00;
  background-color: white;
  color: #ff6b00;
  cursor: pointer;
}
.secondary-btn:hover{
  transition: background-color 0.5s ease;
  background-color: #ff6b00;
  color: white;
}



.app-root{
  height: 100%;
}
