<div class="adventure-wrapper px-5">
  <div class="header text-center pt-3">
    <h1 class="primary-text">Adventure</h1>
  </div>
  <div class="main-content">
    <div class="games row">
      <div class="game col-xs-12 col-sm-2 col-md-4 p-3">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1476357471311-43c0db9fb2b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">Prono Game</h4>
            <!-- Text -->
            <p class="card-text"><strong>Description: </strong> Hone your pronunciation skill by teaching your pet how to pronounce.
              You will be given a list of random words from the pet knowledge base to pronounce. </p>
            <!-- Button -->
            <button type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#gameModal"
                    (click)="selectGame('prono')"
                    [disabled]="numberOfFoodsInStomach < 5 || !isSpeechRecogIsAvailable" >
              Play
            </button>
            <span><i class="fas fa-info-circle requirement-icon"
                     data-toggle="tooltip"
                     data-placement="right"
                     title="Requirement: You need to have at least 5 foods in the stomach to play this game"
                     *ngIf="numberOfFoodsInStomach < 5"></i>
            </span>
            <span><i class="fas fa-info-circle requirement-icon"
                     data-toggle="tooltip"
                     data-placement="right"
                     title="Sorry this game is not available in this browser. Please use Google Chrome instead"
                     *ngIf="!isSpeechRecogIsAvailable"></i>
            </span>
          </div>
        </div>
        <!-- Card -->
      </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title text-center" id="exampleModalLabel">Prono</h1>
            <button type="button" class="close" (click)="stopGame() " aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="game-area">
              <div id="prono-area" *ngIf="gameSelected === 'prono' ">
                <app-prono [foodNameList] = 'foodNameList'></app-prono>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success"
                    (click)="startGame()"
                    *ngIf="gameStatus === 'none'">
              Start
            </button>
            <button id="stopGame-btn" type="button" class="btn btn-danger" (click)="stopGame()" *ngIf="gameStatus === 'inProgress'">Stop</button>
            <button id="closeGame-btn" style="display: none;" type="button" class="btn btn-danger" (click)="stopGame()" >Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



