<div class="food-des-wrapper">
  <h4 class="" >
    <strong>
      {{this.food['word']| titlecase}}
      {{this.food['phonetic']}}
      <i class="pronounce-btn fas fa-volume-up" (click)="pronounceWord(this.food.word)" ></i>
    </strong>
  </h4>
  <div class=" py-2 my-3 wordLUResultItem" *ngIf="typesArray.length > 0">
    <div class="wordPart" *ngFor="let foodType of typesArray">
      <h5><strong>{{foodType}}</strong></h5>
      <ul class="wordDefinition mb-3" *ngFor="let foodDef of meaningObj[foodType]" >
        <strong >Definition: </strong>{{foodDef.definition}}<br/>
        <strong>Example: </strong>{{foodDef.example}}
      </ul>
    </div>
  </div>

</div>


