<div class="first-section">
  <div class="first-section-wrap">
    <div class="first-section-overlay"></div>
    <div class="first-section-content text-center">
      <div class="content-wrapper">
        <div class="left-part animated fadeInLeft">
          <p class="primary-text" style="font-size: 2.4rem">Learn</p>
          <p style=" font-size: 1.6rem">English</p>
          <p style=" font-size: 1rem">Motivation</p>
          <p style="font-size: 0.9rem">Confidence</p>
        </div>
        <div class="middle-line animated fadeInUp"></div>
        <div class="right-part animated fadeInRight">
          <p class="primary-text" style="font-size: 2.4rem">Raise</p>
          <p style=" font-size: 1.6rem">Monster</p>
          <p style=" font-size: 1rem">Yourself</p>
          <p style="font-size: 0.9rem">Dream</p>
        </div>
      </div>
      <button class="btn btn-block mt-4 signUp-btn animated wobble" (click)="onToSignUp()" > Get your first alien pet now! </button>
    </div>
  </div>


</div>
<div class="second-section" id="section-2">
  <div class="second-section-header mt-5 animated">
    <h1 class="header-title text-center primary-text">Lack of motivation to study?</h1>
    <h2 class="header-small-title text-center">Learn with your alien pet through: </h2>
  </div>
  <div class="second-section-content mt-5 animated">
    <div class="content text-center">
      <div class="circle circle-1 animated">
        <img class="circle-image-1" src="../../../assets/in-app%20icons/feeding.png">
      </div>
      <div class="description mt-2 animated">
        <h5 class="description-title">
          Feeding
        </h5>
        <p class="description-body para-style">
          Feed your pet with new vocabulary you learn every day.
        </p>
      </div>
    </div>
    <div class="content text-center">
      <div class="circle circle-2 animated">
        <img class="circle-image-2" src="../../../assets/in-app%20icons/training.png">
      </div>
      <div class="description mt-2 animated">
        <h5 class="description-title">
          Training
        </h5>
        <p class="description-body para-style">
          Train your pet by reviewing vocabularies you fed him/her.
        </p>
      </div>
    </div>
    <div class="content text-center">
      <div class="circle circle-3 animated">
        <img class="circle-image-3" src="../../../assets/in-app%20icons/battle.png">
      </div>
      <div class="description mt-2 animated">
        <h5 class="description-title">
          Battling
        </h5>
        <p class="description-body para-style">
          Make friends and fight with their pets to achieve honour rewards
        </p>
      </div>
    </div>
  </div>
</div>

<div class="third-section">
  <div class="third-section-overlay"></div>
  <div class="third-section-content">
    <div class="third-section-header animated ">
      <h1 class="primary-text">Don't believe you can do it alone?</h1>
      <h2>We have a whole community to back you up!</h2>
    </div>

    <div class="third-section-body mt-5 animated">
      <div class="third-section-body-item">
        <div class="third-section-icon animated">
          <i class="far fa-lightbulb fa-5x"></i>
        </div>
        <div class="third-section-description animated">
          <h5>Get inspired</h5>
          <p class="para-style">We are international students just like you who are ambitious and working hard every day to get closer to our dreams.</p>
        </div>

      </div>
      <div class="third-section-body-item">
        <div class="third-section-icon animated">
          <i class="fa fa-angle-double-up fa-5x" aria-hidden="true"></i>
        </div>
        <div class="third-section-description animated">
          <h5>Grow daily</h5>
          <p class="para-style">We share what we learn every day, help and empower each other. We also help each other keep our pets alive.</p>
        </div>

      </div>
      <div class="third-section-body-item ">
        <div class="third-section-icon animated ">
          <i class="fa fa-rocket fa-4x p-2" aria-hidden="true"></i>
        </div>
        <div class="third-section-description animated">
          <h5>Strive weekly</h5>
          <p class="para-style">Weekly group calls are hosted to connect every one together and practice what we learn</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fourth-section">
  <div class="fourth-section-header text-center mt-5 animated">
    <h1 class="primary-text"> We grow inside out</h1>
    <h2> Not only we focus on what we learn but also how we learn it. </h2>
  </div>
  <div class="fourth-section-body animated row">
    <div class="left-content col-12 col-md-6">
      <div class="left-content-item animated">
        <div class="left-content-icon">
          <img src="https://png.icons8.com/metro/50/000000/superman.png">
        </div>
        <div class="left-content-description">
          <h5>Self-empowerment</h5>
          <p class="para-style"> Learn how to motivate yourself to keep your feet on the ground in the long run</p>
        </div>
      </div>
      <div class="left-content-item animated">
        <div class="left-content-icon">
          <img src="https://png.icons8.com/ios/50/000000/brain.png">
        </div>
        <div class="left-content-description">
          <h5>Learning Boost</h5>
          <p class="para-style">Get access to different learning techniques of straight-A students</p>
        </div>
      </div>
      </div>
    <div class="right-content col-12 col-md-6">
      <div class="right-content-item animated">
        <div class="right-content-icon">
          <i class="far fa-smile-wink fa-5x"></i>
          <!--<img src="https://png.icons8.com/android/50/000000/cool.png">-->
        </div>
        <div class="right-content-description">
          <h5>Self-confidence</h5>
          <p class="para-style">Get to practice and improve confidence</p>
        </div>
      </div>
      <div class="right-content-item animated">
        <div class="right-content-icon">
          <i class="far fa-clock fa-5x" aria-hidden="true"></i>
        </div>
        <div class="right-content-description">
          <h5>Time Masters</h5>
          <p class="para-style">Learn and practice how to make every second count</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fifth-section ">
  <div class="fifth-section-overlay"></div>
  <div class="fifth-section-content">
    <h1 class="fifth-section-title animated primary-text"> What now?</h1>
    <p class="para-style fifth-section-description animated "> Learning does not have to be boring, let's make learning never feel like learning again!</p>
    <button class="btn signUp-btn animated" (click)="onToSignUp()">Get started</button>
  </div>

</div>
<div class="sixth-section">
  <div class="sixth-section-header mt-3">
    <h1 class="sixth-section-title animated primary-text">Meet The Team</h1>
    <h2 class=" sixth-section-description animated" style="font-size: 25px">"If you want to fast, go alone.
      If you want to go far, go together."
    </h2>
  </div>
  <div class="sixth-section-content my-4">
    <div class="member mx-4 my-3">
      <img class="member-picture" src="../../../assets/team-members/raymond.jpg"/>
      <h2 class="member-name mt-4">Raymond Hieu Tran</h2>
      <h2 class="member-title"> Founder & Web Developer</h2>
      <blockquote class="para-style member-description mt-4">
        "When I grow up, I want to make the world a better place". You must have heard of it a lot, but
        I really mean it when I say it. That's why I'm passionate about education - the key to the future.
        I and my team believe that education is best when it doesn't feel like learning at all. And this project
        where we start the journey of "making the world a better place.
      </blockquote>
      <div class="member-social-media " >
        <a href="https://www.facebook.com/imrtee" target="_blank"><img src="https://png.icons8.com/ios/50/000000/facebook.png"></a>
        <a href="https://www.instagram.com/imrtee/" target="_blank"><img src="https://png.icons8.com/ios/50/000000/instagram.png"></a>
        <a href="https://www.linkedin.com/in/raymondhieutran/" target="_blank"><img src="https://png.icons8.com/ios/50/000000/linkedin.png"></a>
      </div>
    </div>

    <div class="member mx-4 my-3">
      <img class="member-picture" src="../../../assets/team-members/adam.jpg"/>
      <h2 class="member-name mt-3">Adam Chen</h2>
      <h2 class="member-title"> Content Creator </h2>
      <blockquote class="para-style member-description mt-4">
        Why am i developing LearnRaise? In all honesty, at first, I wanted to
        use this opportunity to improve myself and gain some experience in working in
        a real team that have high expectations. However, as time progressed,
        I wanted to create stories for users so that their journey in learning will
        not be a boring one. To help them to not only learn and become more
        fluent in English but to help them have fun along the way.
      </blockquote>
      <div class="member-social-media">
        <a href="https://www.facebook.com/adam.chen.31" target="_blank"><img src="https://png.icons8.com/ios/50/000000/facebook.png"></a>
        <a href="#" target="_blank"><img src="https://png.icons8.com/ios/50/000000/instagram.png"></a>
        <a href="https://www.linkedin.com/in/adam-chen-90a84915b/" target="_blank"><img src="https://png.icons8.com/ios/50/000000/linkedin.png"></a>
      </div>
    </div>


    <div class="member mx-4 my-3">
      <img class="member-picture" src="../../../assets/team-members/daniel.jpg"/>
      <h2 class="member-name mt-3">Daniel Chua</h2>
      <h2 class="member-title"> Animator </h2>
      <blockquote class="para-style member-description mt-4">
        Having brought onto the team I was excited with the vision of this app
        and was very keen in bringing this vision to life. Being here helps me explore
        on areas where I've never even dream of venturing into,
        this have given me opportunities to learn so many different skills
        which I'm grateful for. Looking forward to growing with the team!
      </blockquote>
      <div class="member-social-media" >
        <a href="https://www.facebook.com/daniel.chua.370" target="_blank"><img src="https://png.icons8.com/ios/50/000000/facebook.png"></a>
        <a href="https://www.instagram.com/danielchua97/" target="_blank"><img src="https://png.icons8.com/ios/50/000000/instagram.png"></a>
        <a href="#" target="_blank"><img src="https://png.icons8.com/ios/50/000000/linkedin.png"></a>
      </div>
    </div>
  </div>
  <!--<a href="https://icons8.com" style="color: gray; float: right">Icon pack by Icons8</a>-->
</div>

