.food-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}
/*.food-item{*/
  /*width: 24%;*/
/*}*/
#search{
  position: relative;
}
#search label{
  position: absolute;
  left: 8px;
  top: 1px;
  z-index: 2;
  color: darkblue;
}
#search-input{
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  border: 1px solid darkblue;
  outline: none;
  height: 30px;
  color: darkblue;
  width: 150px;
}
@media only screen and (min-width:  768px) and (max-width: 1240px) {
  #search-input{
    width: 130px;
  }
}
#search-input::placeholder{
  color: darkblue;
  opacity: 0.5;
}
#search input:focus{
  -webkit-box-shadow: 0px 0px 5px 1px darkblue;
  -moz-box-shadow: 0px 0px 5px 1px darkblue;
  box-shadow: 0px 0px 5px 1px darkblue;
}

@media only screen and (max-width:  576px){
  .col-xs-6{
    width: 50%;
  }
}@media only screen and (min-width:  768px){

}


