<div class="food-list-wrapper">
  <div  class="row justify-content-end mx-3">
    <!--Search bar-->
    <div id="search" class=" my-2 ">
      <label for="search-input">
        <i  class="fa fa-search" aria-hidden="true">
        </i>
        <span class="sr-only"> Search icons</span>
      </label>
      <input  id = "search-input"
              autocomplete="off"
              spellcheck="true"
              placeholder="Search food"
              [(ngModel)]="filterFood"/>
    </div>

  </div>
  <!--Food list-->
  <div class="row food-list" *ngIf="foods">
    <!--Food item-->
    <app-food-item class="food-item col-xs-6 col-sm-4 col-md-12 col-lg-12"
                   *ngFor="let foodEl of foods| foodFilter: filterFood.toLowerCase(): 'name' ; let i = index "
                   [food]="foodEl"
                   [foodIndex]="i" ></app-food-item>
  </div>
</div>


