<div class="form-container" >
  <form  #fIn="ngForm">
    <h1 class="text-center primary-text"> Sign In  </h1>
    <h3 class="text-center primary-text" >To Connect With Your Pet </h3>
    <div id="userSignUp-data">
      <div class="form-group">
        <label for="emailSignUp" >Email</label>
        <input type="email"
               id="emailSignUp"
               name="email"
               class="form-control"
               [ngClass]="{'ng-invalid': errorMessage.search('password') == -1 ? true: false}"
               ngModel=""
               required
               email
               #userEmail="ngModel">
        <span class="form-text error-message" *ngIf="errorMessage !== 'none'  && errorMessage.search('password') == -1 && fIn.dirty">{{errorMessage}}  </span>
      </div>
      <div class="form-group">
        <label for="passwordSignUp">Password</label>
        <input type="password"
               id="passwordSignUp"
               name="password"
               class="form-control"
               [ngClass]="{'ng-invalid': errorMessage.search('password') !== -1 ? true: false}"
               ngModel
               required
               #userPassword="ngModel">
        <span class="form-text error-message" *ngIf="errorMessage !== 'none'  && errorMessage.search('password') !== -1 ">{{errorMessage}}  </span>
      </div>
    </div>
    <button type="button" class="login-btn btn btn-block btn-success"   [disabled] = "!fIn.dirty" (click)="onLogin(fIn)">Log In</button>

  </form>
  <div class="col-sm-12 mt-2 text-center">
    <a (click)="changeToSignUp()" style=" text-decoration: underline; cursor: pointer; color: orange">Haven't got a buddy yet? Sign Up to find one! </a>
  </div>
</div>

