<div class="stomach-container">
  <div class="header text-center pt-3">
    <h1 class="primary-text">Knowledge base</h1>
  </div>
  <div class="main-content">
    <!--Food list-->
    <div class=" col-md-3 col-sm-12 food-list-container">
      <app-food-list [foods]="foodsInStomach"></app-food-list>
    </div>

    <!--Food description on landscape screens-->
    <div class=" col-md-9 d-none d-md-block food-des-container">
      <app-food-des
        [food]="selectedFood "
        *ngIf="selectedFood && displayDes; else infoText"
      ></app-food-des>
      <ng-template #infoText >
        <p style="color: white">Click on the food to see how it was made;</p>
      </ng-template>
    </div>

    <!--Food description on phone version (Pop-up version)-->
    <div class=" modal-content d-md-none food-des-container" *ngIf="selectedFood && displayDes && isSelecting">
      <app-food-des
        [food]="selectedFood"
      ></app-food-des>
    </div>
    <div class="modal-backdrop fade show d-md-none" *ngIf="isSelecting" (click)="closeEditingModalBox()"></div>
  </div>

</div>



<!--Editing pop-up box-->
<div class="modal-backdrop fade show" *ngIf="isEditing" (click)="closeEditingModalBox()"></div>
<div class="edit-container" *ngIf="isEditing">
  <app-food-edit [editingFoodIndex]="editingFoodIndex"></app-food-edit>
</div>
