<div class="container-fluid main">



  <!--Content-->
  <div class="content-container" >
    <router-outlet></router-outlet>
  </div>

  <!--Extra Navigation-->
  <!--<button class="dropup-btn btn-shadow" (click)="onViewExtraNav()">-->
    <!--<i class="fa fa-angle-double-up fa-2x" aria-hidden="true" *ngIf="!extraNavActivated"></i>-->
    <!--<i class="fa fa-times fa-2x" aria-hidden="true"*ngIf="extraNavActivated"></i>-->
  <!--</button>-->
  <!--<div class="extraNav-container opening" *ngIf="extraNavActivated">-->
    <!--<app-extra-nav></app-extra-nav>-->
  <!--</div>-->
  <!--<div class="modal-backdrop fade show extraNav-shadow" *ngIf="extraNavActivated" (click)="closeModalBox()"></div>-->


  <!--Main navigation-->
  <div class="navbar-container">
    <app-nav-bar></app-nav-bar>
  </div>



  <!--Feed button-->
  <button class="btn feed-btn btn-shadow primary-btn" (click)="onFeed()">
    <i class="fas fa-plus-circle"></i>
  </button>


  <!--Log out Btn-->
  <button class="btn logOut-btn btn-shadow secondary-btn" (click)="onLogOut()">
    <i class="fas fa-sign-out-alt"></i>
  </button>


  <div class="feed-container openingFeed" *ngIf="isFeeding" >
    <app-feed ></app-feed>
  </div>
  <div class="modal-backdrop fade show feed-shadow" *ngIf="isFeeding" (click)="closeModalBox()"></div>

  <!--<div class="whirly-loader"></div>-->

</div>
