h6{
  font-family: Orbitron;
}
/* .authentication-wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
  color: black;
} */


.authentication-form{
  width: 300px;
}

@media screen and (min-width: 576px) {
  h6{
    font-size: 1.7rem;
  }
  .authentication-form{
    width: 500px;
  }
}
