.pet-info-wrapper{
  margin: 20px 0 0;
  width: 100%;
  height: 80%;
}
.tool-container{
  height: 15vh;
  width: 100vw;
}
.bar-container{
  border: 5px solid lightcoral;
  width:100%;
  height: 44px;
  display: flex;
  justify-content: flex-start;
  padding: 1px 0px;
}
.bar-item{
  margin: 0 1px;
  background: DeepSkyBlue;
  color: white;
  /*width: 10%;*/
  height: 100%;
}

.card{
  background-color:  rgba(0, 0, 0, 0.4);
}
.card-modal{
  background-color: black;
}
.card-block{
  max-height: 300px;
  overflow-y: auto;
  color: white;
}

.pet-pic-container{
  width: 100%;
  margin: 0;
}

.pet-pic{
  border-radius: 30%;
  width: 320px;
  height:320px;
  margin: auto;
  vertical-align: middle;
}
.toggler-button-container{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
}
.toggler-button{
  height: 40px;
  width: 80px;
  border-radius: 12px;
  background-color: dodgerblue;
  cursor: pointer;
  -webkit-box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.75);
}
i{
  font-size: 1.5rem;
  margin-top: 7px;
}
.toggler-button:hover{
  background-color: darkblue;
  color: white;
}
.toggler-button:active{
  background-color: darkblue;
  color: white;
  -webkit-box-shadow: 0px 12px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 5px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.75);
  transform: translateY(4px);
}
/*@media screen and (min-width: 400px ) {*/
  /*.pet-pic-container {*/
    /*width: 80%;*/
    /*margin: auto;*/
  /*}*/
/*}*/
.card{
  border: 1px solid darkblue;
}
.card-header{
  background-color:  rgba(0, 0, 121, 0.4);
  color: white;
}
.modal-backdrop{
  z-index: 9999999999999999 ;
}
.modal-content {
  position: absolute;
  top: 50%;
  left:50%;
  min-width: 300px;
  z-index: 99999999999999999;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px ) {
  .pet-info-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 15px;
  }
  .pet-info{
    width: 25%;
  }
  .pet-pic-container{
    width: 50%;
  }
  .pet-statistic{
    width: 25%;
  }
  .pet-pic {
    width: 400px;
    height: 400px;
  }

}
