<!--Status Bars-->
<div class="pet-info-wrapper"  *ngIf="petObj; else waitingScreen">

  <div class="bars-container">
    <app-tool-bar></app-tool-bar>
  </div>

  <div class="main-content row mt-5">
    <!--Information box-->
    <div class="pet-info  col-md-4 pl-5 hidden-md-down">
      <div class="card">
        <h3 class="card-header"></h3>
        <div class="card-block">
          <div class="name-icon my-2 "><span><img src="../../../../assets/in-app%20icons/tag_navy_blue.png" width="30px" height="30px"/></span> {{petObj.name }}</div>
          <div class="weight-icon my-2"><span><img src="../../../../assets/in-app%20icons/weight.png" width="30px" height="30px"/> </span>{{petObj.weight}} kg</div>
          <div class="height-icon my-2"><span><img src="../../../../assets/in-app%20icons/height.png" width="30px" height="30px"/>{{petObj.height}} cm</span></div>
        </div>
      </div>
    </div>
    <!--Picture box-->
    <div class="pet-pic-container col-md-4 text-center mx-auto">
      <img class="pet-pic" src="{{petObj.curPic}}"/>
    </div>
    <!--Mission box-->
    <div class="pet-statistic col-md-4 pr-5 hidden-md-down">
      <div class="card">
        <h3 class="card-header"></h3>
        <div class="card-block">
          <div class=" my-2 "><span><img src="../../../../assets/in-app%20icons/android-chrome-192x192.png" width="30px" height="30px"/></span> {{petObj.element}}</div>
          <div class=" my-2 "><span><img src="../../../../assets/in-app%20icons/Molecular%20Biology.png" width="30px" height="30px"/></span> {{petObj.species}}</div>
          <div class=" my-2 "><span><img src="../../../../assets/in-app%20icons/heart-beat-2-icon.png" width="30px" height="30px"/></span> {{petObj.noOfLives}} lives left </div>

        </div>
      </div>
    </div>

    <!--Phone version  -->
    <div class="toggler-button-container mt-2 hidden-lg-up">
      <div class="toggler-button mr-4 text-center" (click)="toggleBox('info')" >
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
      <div class="toggler-button text-center" (click)="toggleBox('status')">
        <i class="fas fa-file-alt"></i>
      </div>
    </div>
    <div class="modal-backdrop fade show hidden-lg-up" *ngIf="viewInfo || viewStatus" (click)="closeModalBox()"></div>

    <!--Information box-->
    <div class=" modal-content pet-info-container hidden-lg-up " *ngIf="viewInfo">
      <div class="card-modal">
        <h3 class="card-header">Information</h3>
        <div class="card-block">
          <div class="name-icon my-2 "><span><img src="../../../../assets/in-app%20icons/tag_navy_blue.png" width="30px" height="30px"/></span> {{petObj.name }}</div>
          <div class="weight-icon my-2"><span><img src="../../../../assets/in-app%20icons/weight.png" width="30px" height="30px"/> </span>{{petObj.weight}} kg</div>
          <div class="height-icon my-2"><span><img src="../../../../assets/in-app%20icons/height.png" width="30px"  height="30px"/>{{petObj.height}} cm</span></div>
        </div>
      </div>
    </div>
    <!--Statistic box-->
    <div class=" modal-content pet-statistic hidden-lg-up " *ngIf="viewStatus">
      <div class="card-modal">
        <h3 class="card-header">Status:</h3>
        <div class="card-block">
          <div class=" my-2 "><span><img src="../../../../assets/in-app%20icons/android-chrome-192x192.png" width="30px" height="30px"/></span> {{petObj.element}}</div>
          <div class=" my-2 "><span><img src="../../../../assets/in-app%20icons/Molecular%20Biology.png" width="30px" height="30px"/></span> {{petObj.species}}</div>
          <div class=" my-2 "><span><img src="../../../../assets/in-app%20icons/heart-beat-2-icon.png" width="30px" height="30px"/></span> {{petObj.noOfLives}} lives left </div>
        </div>
      </div>
    </div>
  </div>


</div>
<ng-template #waitingScreen>
Loading...
</ng-template>

